{{ $page := .root }}
{{ $section := .page }}

<h2><b>Working Papers</b></h2>

<ul class="roman">
  
 <li>Price Discovery and Efficiency in Waiting Lists: A Connection to Stochastic Gradient Descent</li>
  
 <li>Which Random Matching Markets Exhibit a Stark Effect of Competition?
 <ul class="square">
  <li>Sub of Second</li>
  <li>Another Sub</li>
 </ul>
 </li>
  
 <li>Blind Dynamic Resource Allocation in Closed Networks via Mirror Backpressure</li>
  
 <li>Dynamic Assignment Control of a Closed Queueing Network under Complete Resource Pooling</li>
  
</ul>
