{{ $page := .root }}
{{ $section := .page }}

<h2><b>Working Papers</b></h2>

<ul class="roman">
  
 <li>Price Discovery and Efficiency in Waiting Lists: A Connection to Stochastic Gradient Descent
   <ul class="square">
     <li>Manuscript coming soon! With I. Ashlagi, J. Leshno, and A. Saberi.</li>
     <li>Conference version: ACM Conference on Economics and Computation (EC'20)</li>
   </ul>
 </li>
  
 <li>Which Random Matching Markets Exhibit a Stark Effect of Competition?
   <ul class="square">
      <li>Under review. With Y. Kanoria and S. Min.</li>
      <li>Conference version: ACM-SIAM Symposium on Discrete Algorithms (SODA'21)</li>
   </ul>
 </li>
  
 <li>Blind Dynamic Resource Allocation in Closed Networks via Mirror Backpressure
   <ul class="square">
     <li>Major revision. With Y. Kanoria.</li>
     <li>Conference version: ACM Conference on Economics and Computation (EC'20)</li>
   </ul>
 </li>
  
 <li>Dynamic Assignment Control of a Closed Queueing Network under Complete Resource Pooling
   <ul class="square">
     <li>Under review. With S. Banerjee and Y. Kanoria.</li>
     <li>Conference version: ACM SIGMETRICS'18</li>
   </ul>
 </li>
  
</ul>
