{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
  {{ $microdata_type = "BlogPosting" }}
{{ else if eq $item.Type "talk" }}
  {{ $microdata_type = "Event" }}
  {{ $show_authors_only = true }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
  {{ $microdata_type = "ScholarlyArticle" }}
  {{ $show_authors_only = true }}
  {{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
  {{ $summary = $item.Summary }}
{{ end }}

<!-- <div class="media stream-item" itemscope itemtype="http://schema.org/{{$microdata_type}}"> -->
{{ if eq $item.Type "publication" }}
<div>
  <div>
  <!-- <div class="media-body"> -->

    <div style="padding-left:20px;text-indent:-20px;">
    <font size="4">
     <!-- <h4 class="article-title mb-0 mt-0" itemprop="name"> -->
    <b>{{ $item.Params.journalno }}.</b> <a href="{{ $item.Params.url_pdf }}" style="color:rgb(0, 114, 206);">{{ $item.Title }}</a>
    </font>
    </div>
	
	<div style="margin-left:20px;">
	<font size="4">{{ $item.Params.authorinfo }}, {{ $item.Params.versioninfo }} <i>{{ $item.Params.journalinfo }}</i></font>
	</div>
	
	{{ if $item.Params.confinfo }}
	<div style="margin-left:20px;">
	<font size="4">Preliminary version: <i>{{ $item.Params.confinfo }}</i> {{ $item.Params.confyear }}</font>
	</div>
	{{ end }}
    
	
    {{ with $summary }}
    <div class="article-style" itemprop="articleBody">
      {{ . | truncate 135 }}
    </div>
    {{ end }}
	
	
	<!--
    <div class="stream-meta article-metadata">

      {{ if eq $item.Type "talk" }}
      <div>
        <span itemprop="startDate">
          {{ $date := $item.Date }}
          {{ (time $date).Format $.Site.Params.date_format }}
          {{ if not $item.Params.all_day }}
            {{ (time $date).Format ($.Site.Params.time_format | default "3:04 PM") }}
            {{ with $item.Params.date_end }}
            &mdash; {{ (time .).Format ($.Site.Params.time_format | default "3:04 PM") }}
            {{ end }}
          {{ end }}
        </span>
        {{ with $item.Params.location }}
        <span class="middot-divider"></span>
        <span itemprop="location">{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}

      {{ if and $show_authors_only $item.Params.authors }}
      <div itemprop="author">
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ else if not $show_authors_only }}
        {{ partial "page_metadata" (dict "content" $item "is_list" 1) }}
      {{ end }}
    </div>
	-->

    {{ if $show_buttons }}
    <div class="btn-links" style="margin-left:20px;">
      {{ partial "page_links" (dict "content" $item "is_list" 1) }}
    </div>
    {{ end }}
    
    {{ if $item.Params.absinfo }}
	  <div style="margin-left:20px;">
	  <font size="4">Abstract: {{ $item.Params.absinfo }}</font>
	  </div>
	  {{ end }}
        

  </div>
  <div class="ml-3">
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{ $item.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" itemprop="image">
    </a>
    {{end}}
  </div>
  <p style="height: 10px"></p>
</div>
{{ end }}


{{ if eq $item.Type "confpubs" }}
<div>
  <div>
  <!-- <div class="media-body"> -->

    <font size="4">
     <!-- <h4 class="article-title mb-0 mt-0" itemprop="name"> -->
      <a href="{{ $item.Params.url_conf }}" style="color:rgb(0, 128, 255);">{{ $item.Title }}</a>
    </font>
	
	<div>
	<font size="4">
	<i>{{ $item.Params.authorinfo }}</i>, <b>{{ $item.Params.confname }}</b>, {{$item.Params.confloc}}, {{ $item.Params.conftime }}
	</font>
	</div>
	
	<div>
	<font size="4">
	(accpeted as full paper; appeared as extended abstract)
	</font>
	</div>
	
    

    {{ if $show_buttons }}
    <div class="btn-links">
      {{ partial "page_links" (dict "content" $item "is_list" 1) }}
    </div>
    {{ end }}

  </div>
  <div class="ml-3">
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{ $item.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" itemprop="image">
    </a>
    {{end}}
  </div>
  <p style="height: 10px"></p>
</div>

{{ end }}


